// ------------------------------
// Listings
// ------------------------------

.listing {
  @include rem('padding', $half-spacing-unit);
  border: 1px solid tint($gray, 50%);
  box-shadow: 0 0.125em tint($gray, 50%);

  @include media-query(lap-and-up) {
    .button {
      margin-bottom: $half-spacing-unit / 2;
    }
  }
  @include media-query(palm) {
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;

    .button {
      @include rem('margin-bottom', $half-spacing-unit);
    }
  }
}
.listing-padded {
  @extend .listing;
  @include rem('padding', $base-spacing-unit);
}
.listing-thumbnail-container {
  // This container fixes the aspect ratio of the element
  // http://www.mademyday.de/css-height-equals-width-with-pure-css.html
  display: block;
  position: relative;
  width: 100%;

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}
.listing-thumbnail {
  @include position(absolute, 0px 0px 0px 0px);
  background-color: white;
  border-radius: $radius;
  overflow: hidden;

  img {
    @include position(absolute, 50% 0 0 50%);
    @include transform(translate(-50%, -50%));
    @include rem('padding', $base-spacing-unit/4);
  }
}
.lt-ie9 .listing-thumbnail img {
  position: static;
}
.listing-name {
  @include rem('margin-bottom', $half-spacing-unit/2);

  a {
    text-decoration: none;
  }
}
.listing-vendor {
  @include rem('margin-top', -$half-spacing-unit/2);
  @include rem('margin-bottom', $half-spacing-unit/2);
}
.listing-description {
  margin-bottom: 0;

  @include media-query(palm) {
    @include rem('margin-bottom', $half-spacing-unit);
  }
}
.listing-quote {
  @extend .listing-description;

  p:last-of-type {
    @include rem('margin-bottom', $base-spacing-unit/4);
  }
  cite {
    margin-bottom: 0;
  }
}

// Row view for listings
.product-row-table {
  @include rem('margin-bottom', $base-spacing-unit);
}
.product-row {
  @include rem('padding-top', $base-spacing-unit);
  @include rem('padding-bottom', $base-spacing-unit);
  background-color: tint($gray, 100%);
  @include transition(box-shadow .1s ease-in);

  border-bottom: 1px solid tint($gray, 50%);

  &:last-child {
    border-bottom: none;
  }
  &:hover {
    box-shadow: 0 12px 12px -12px $gray;
  }
}
.product-row-name {
  @include rem('margin-bottom', $base-spacing-unit/4);

  a {
    text-decoration: none;
  }
}
.product-row-vendor {
  @include rem('margin-bottom', $base-spacing-unit/4);
  white-space: nowrap;

  @include media-query(palm) {
    display: block;
    white-space: normal;
  }
}
.product-row-image-position {
  position: relative;
}
.product-row-image-container {
  // This container fixes the aspect ratio of the element
  // http://www.mademyday.de/css-height-equals-width-with-pure-css.html
  display: block;
  position: relative;
  width: 100%;
  border: 1px solid tint($gray, 50%);
  border-radius: $radius;
  background-color: white;

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  @include media-query(palm) {
    position: absolute;
    top: 0;
    right: 0;
    max-width: $base-spacing-unit*3;
  }
}
.product-row-image-container-basic {
  width: 60%;
  margin-left: auto;
  margin-right: auto;

  @include media-query(palm) {
    width: 100%;
  }
}
.product-row-image {
  @include position(absolute, 0px 0px 0px 0px);
  margin: $base-spacing-unit/4;

  img {
    width: 100%;
    @include position(absolute, 50% 0 0 50%);
    @include transform(translate(-50%, -50%));
    margin: auto;
    border-radius: $radius;
  }
}
.lt-ie9 .product-row-image img {
  position: static;
}
.product-row-description {
  margin-bottom: 0;

  @include media-query(palm) {
    @include rem('margin-bottom', $half-spacing-unit);
  }
}



// ------------------------------
// Featured Listings
// ------------------------------

// Featured products
.featured-product {
  position: relative;
  @include rem('margin-bottom', $base-spacing-unit);
}
.featured-product-image-container {
  display: block;
  position: relative;
  width: 100%;
  max-width: $base-spacing-unit*10;
  @include rem('margin-bottom', $half-spacing-unit);
  border: 1px solid tint($blue, 85%);
  border-radius: 3px;
  background-color: white;

  &:hover {
    border: 1px solid tint($blue, 0%);
  }
  &:before {
    content: "";
    display: block;
    padding-top: 75%;
  }
  @include media-query(portable) {
    border-bottom: none;
  }
}
.featured-product-image-link {
  display: block;
  @include position(absolute, 0px 0px 0px 0px);
  border-radius: $radius;
  text-align: center;
}
.featured-product-image {
  display: inline-block;
  vertical-align: middle;
  border-radius: 2px;
}
.featured-product-image-logo {
  display: inline-block;
  vertical-align: middle;
  position: static;
  margin: auto;

  .csstransforms & {
    @include position(absolute, 50% 0 0 50%);
    @include transform(translate(-50%, -50%));
  }
}
.featured-product-name {
  @include rem('margin-bottom', $base-spacing-unit/4);

  a {
    color: $text-color;
    text-decoration: none;

    &:hover {
      color: $blue;
    }
  }
}
.featured-product-name-link {
  display: block;
}