// ------------------------------
// Stacks
// ------------------------------
// Used for horizontal layout stacks

// Example
/*
  <div class="stack-interior">
    <div class="stack-content">
      // content goes here
    </div>
  </div>
*/



// Base stack wrapper styles
.stack {
  background-color: white;
}



// ------------------------------
// Lighter Stacks
// ------------------------------

// Useful for content heavy sections
.stack-interior {
  background-color: tint($gray, 65%);
}
.stack-exterior {
  background-color: tint($beige, 65%);
}
.stack-light {
  background-color: tint($blue, 90%);
}
.stack-light-alt {
  background-color: tint($blue, 85%);
}
.stack-aside {
  background-color: $beige;
}



// ------------------------------
// Darker Stacks
// ------------------------------

// Useful for mastheads and high-contrast sections
.stack-primary {
  background-color: $blue;
}
.stack-bold {
  background-color: shade($blue, 50%);
}
.stack-ground {
  background-color: shade($beige, 75%);
}



// ------------------------------
// Utility Stacks
// ------------------------------

// Utility background colors
// Useful for alerts and action areas
// Good for drawing attention
.stack-positive {
  background-color: $green;
}
.stack-negative {
  background-color: $red;
}
.stack-info {
  background-color: $yellow;
}



// ------------------------------
// Stack Content Wrappers
// ------------------------------

// Base stack content wrapper styles
// Extend this with section-specific classes
// e.g. <div class="stack-content">
.stack-content {
  padding-top: $base-spacing-unit;
  @extend %container;
}
.stack-content-thin {
  padding-top: $half-spacing-unit;
  @extend %container;
}
.stack-content-thick {
  padding-top: $base-spacing-unit*2;
  padding-bottom: $base-spacing-unit;
  @extend %container;
}
.stack-content-fat {
  padding-top: $base-spacing-unit*3;
  padding-bottom: $base-spacing-unit*2;
  @extend %container;

  @include media-query(palm) {
    padding-top: $base-spacing-unit*2;
    padding-bottom: $base-spacing-unit;
  }
}